[Unit]
Description=Weekly regeneration of .pkglist package recovery lists

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
